@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
textarea:focus,
input:focus {
  outline: none;
}

.navbar {
  min-width: 500px;
}

.nav-list {
  display: flex;
  gap: 15px;
  justify-content: space-between;
  align-items: center;
}

.containerm {
  max-width: 1300px;
  padding: 0 18px;
  @media (min-width: 500px) {
    padding: 0 32px;
  }
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer {
  min-height: 70px;
}

form.login,
form.register {
  width: 400px;
  margin: 0 auto;
  padding-top: 100px;
  padding-left: 18px;
  padding-right: 18px;
  @media (min-width: 500px) {
    padding-left: 0;
    padding-right: 0;
  }
}
.inp {
  display: block;
  margin-bottom: 5px;
  width: 100%;
  padding: 5px 7px;
  border: 2px solid #2c3e50;
  border-radius: 5px;
  background-color: #fff;
}
form.login h1,
form.register h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  min-height: 70vh;
  max-width: 1200px;
  padding: 0 18px;
  @media (min-width: 500px) {
    padding: 0 32px;
  }
  margin: 0 auto;
  color: #333333;
}

.label {
  margin: 10px 0;
  display: block;
}

.form-btn {
  background-color: #2c3e50;
  color: white;
  padding: 10px 25px;
  border-radius: 7px;
  text-transform: uppercase;
}

.post {
  padding: 20px;
  margin-top: 50px;
  min-height: 400px;
}

form.post input {
  display: block;
  margin-bottom: 15px;
  width: 100%;
  padding: 5px 7px;
  border: 1px solid #2c3e50;
  border-radius: 5px;
  background-color: #fff;
}
form.post input[type='title'] {
  font-weight: 700;
  text-transform: uppercase;
}

form.post button {
  background-color: #2c3e50;
  color: white;
  display: block;
  padding: 10px 25px;
  border-radius: 7px;
  text-transform: uppercase;
  /* margin: 200px auto 0 auto; */
}

.bloghero {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: center;
  /* background-color: red; */
  margin-top: 120px;
}

.bloghome {
}

.blogherotext {
  text-align: start;
  max-width: 500px;
}

.blogherotext h1 {
  font-weight: 700;
  font-size: 40px;
  margin-bottom: 20px;
}

.blogherotext p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500px;
  margin-bottom: 20px;
}

.feature {
  margin-top: 70px;
}

.feature h2 {
  font-size: 40px;
  line-height: 52px;
  font-weight: 600;
  text-align: center;
}

.discover {
  margin-top: 30px;
  text-align: start;
}

.discover h4 {
  font-size: 34px;
  line-height: 48px;
  font-weight: 500;
  margin-bottom: 20px;
}

.discover p {
  font-size: 18px;
  line-height: 30px;
  font-weight: 500px;
  margin-bottom: 20px;
}
